/*Zach Frehner
4/28/2020
styles.css
styling for the home.php page*/

img {
    border-radius: 25px;
    position: relative;
}

.left {
    text-align: center;
}

.main {
    padding: 20px;
    border: #5a6268 1px solid;
}

.lines {
    border-bottom: #80bdff 1px solid;
    border-top: #80bdff 1px solid;
    padding: 15px;
    margin-bottom: 15px;
}
